<div class="container mt-5">
  <footer class="footer">
    <div class="section section-1">
      <div class="logo"></div>
      <div class="text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
          expedita eligendi ab aliquid dicta doloribus, sint minus debitis quod
          quidem accusamus natus quasi, deserunt perferendis velit sapiente nisi
          mollitia quo.
        </p>
      </div>
      <ul class="social-media-list">
        <li class="social-item">
          <a href="https://instagram.com" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li class="social-item">
          <a href="https://twitter.com" target="_blank">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </li>
        <li class="social-item">
          <a href="https://youtube.com" target="_blank">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </li>
        <li class="social-item">
          <a href="https://linkedin.com" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </li>
      </ul>
      <div class="copy"><span> © 2021 . All rights reserved. </span></div>
    </div>
    <div class="section section-2">
      <ul class="footer-list">
        <li class="footer-item list-header"><span>Take a tour</span></li>
        <li class="footer-item"><span>Features</span></li>
        <li class="footer-item"><span>Partners</span></li>
        <li class="footer-item"><span>Pricing </span></li>
        <li class="footer-item"><span>Product </span></li>
        <li class="footer-item"><span>Support</span></li>
      </ul>
      <ul class="footer-list">
        <li class="footer-item list-header"><span>Our Company</span></li>
        <li class="footer-item"><span>About Us</span></li>
        <li class="footer-item"><span>Agents </span></li>
        <li class="footer-item"><span>Blog</span></li>
        <li class="footer-item"><span>Media</span></li>
        <li class="footer-item"><span>Contact Us</span></li>
      </ul>
    </div>
    <div class="section section-3">
        <div class="header"><span>Subscribe</span></div>
        <div class="message">
            <p>Más de 10 años ayudando a familias a encontrar el hogar de sus sueños con transparencia y compromiso.</p>
        </div>
    </div>
  </footer>
</div>
