.container {
    background: linear-gradient(to bottom, #C3DFED, #DFF0F7);
    border-radius: 20px;
    padding: 0;
    display: flex;

}

.container > div {
    width: 50%;
    border-radius: 20px;
}

.text-container {
    font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    height: 100%;
    height: auto;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    padding: 5%;

    gap: 40px;
}



.main-text{
    color: #110229;
    font-size: 50px;
    font-weight: bolder;
}
X
.sub-text{
    color: #585981;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
}

.text {
    padding: 0;
    margin: 0;
}

.img-container {
    background-image: url('../../assets/img/simone-hutsch-8n9npBvQUWg-unsplash\ 1.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}