.container {
    background: linear-gradient(to bottom, #C3DFED, #DFF0F7);
    height: 480px;
    border-radius: 20px;
    padding: 0;
    display: flex;

}

.container > div {
    width: 50%;
    border-radius: 20px;
}

.text-container {
    padding: 80px;
    display: flex;
    flex-direction: column;
}

.text-container {
    font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    gap: 60px;
}

.main-text{
    color: #110229;
    font-size: 60px;
    font-weight: bolder;
}

.sub-text{
    color: #585981;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
}

.img-container {
    background-image: url('../../assets/img/simone-hutsch-8n9npBvQUWg-unsplash\ 1.png');
}