<header class="header">
  <nav class="nav" aria-label="Barra de navegación principal">
    <div class="logo-container">
        <a href="#home"><div class="logo"></div></a>
    </div>
    <ul class="nav-list">
      <li class="nav-item"><a  (click)="scrollTo('home')" [routerLink]="['/home']"> Home</a></li>
      <li class="nav-item"><a [routerLink]="['/properties']">Properties</a></li>
      <li class="nav-item"><a [routerLink]="['/agents']" >Agents</a></li>

      <!-- Mostrar botón de Login solo si NO está autenticado -->
      <li *ngIf="!loginService.isAuthenticated()" class="nav-item log-in-btn">
        <a [routerLink]="['/login']">Log In</a>
      </li>

      <!-- Mostrar botón de Logout solo si SÍ está autenticado -->
      <li *ngIf="loginService.isAuthenticated()" class="nav-item log-in-btn">
        <a (click)="loginService.logout()">Log Out</a>
      </li>
    </ul>
  </nav>
</header>
