* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 1rem 0;
  /* border-bottom: 1px solid black; */
  z-index: 999;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.nav {
  display: flex;
  justify-content: space-around;
  gap: 15%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background-image: url(../../assets/img/Logo.png);
  width: 180px;
  height: 50px;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.nav-item {
  padding: 10px 30px;
}

.nav-item:not(.log-in-btn):hover {
  transform: translateY(-2px);
  transition: 0.5s ease;
}

.nav-item:not(.log-in-btn):hover > a {
  color: #591b95;
}

.nav-item a {
  color: #110229;
  text-decoration: none;
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease;
}

.log-in-btn {
  border: 2px solid #110229;
  border-radius: 15px;
  transition: 0.5s ease;
}

.log-in-btn:hover {
  background-color: #591b95;
}

.log-in-btn > a {
  color: #110229;
}

.log-in-btn:hover > a {
  color: white;
}

