<app-navbar/>
<div id="home" class="container">
    <div class="hero_container">

        <div class="content">
            <div class="main_text">
                <span>Easy wey to find a perfect property</span>
            </div>
            <div class="sub_text">
                <span>We provide a complete service for the sale, purchase or rental of real estate.</span>
            </div>
        </div>
    </div>

</div>
<app-citys id="citys"/>
<app-house [house]="recentHouse"></app-house>
<app-section-4/>
<app-footer/>